In [1]:
import numpy as np

a = np.array([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    [[8, 9, 3], [8, 9, 3], [8, 9, 3]],
    ])

b = np.sum(a, axis=0, keepdims=True)
print(b)

[[[16 19 15]
  [16 19 15]
  [16 19 15]]]

In [2]:
b = np.sum(a, axis=1, keepdims=True)
print(b)

[[[ 9 12 15]]

 [[15 18 21]]

 [[24 27  9]]]

In [3]:
b = np.sum(a, axis=1, keepdims=True)
print(b)

[[[ 9 12 15]]

 [[15 18 21]]

 [[24 27  9]]]

In [4]:
import torch

x = torch.rand(5, 3)
y = torch.rand(3, 3)

#第一种
print(x + y)

# #第二种
# print(torch.add(x, y))
# #第三种
# result = torch.empty(5, 3)
# torch.add(x, y, out=result)
# print(result)
# #第四种
# y.add_(x)
# print(y)

RuntimeError: The size of tensor a (5) must match the size of tensor b (3) at non-singleton dimension 0

In [ ]:
import torch

a = Size(5) + (3, 4)
print(str(a))
print(type(a))

In [ ]:
import torch.nn as nn

w = torch.empty(3, 5)
nn.init.orthogonal_(w)

print(w)

In [ ]:
print(w.size(0))
print(w.size(1))

In [ ]:
import torch

w = torch.empty(3, 5)
attention_mask = (w > 0)

print(attention_mask)

In [ ]:
import torch

w = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    [[8, 9, 3], [8, 9, 3], [8, 9, 4]],
    ])
n = torch.max(w, dim = 1)

print(n)

In [ ]:
keys = "a;b;c"
keys = keys.split(';')
print(keys)
print(keys[:-1])

In [ ]:
a = "aa"
b = "bb"
c = a / 'c' / b
print(c)

In [ ]:
# a = 1
# b = [1, 2]
# assert a in b ,'ture'

# a = 1
# b = [2]
# assert a in b ,'ture'


a = [0, 1, 2]
b = [1, 2]
assert all(k > 0 for k in  b) ,'ture'

In [ ]:
from functools import partial

def add(*args):
    return sum(args)

add_100 = partial(add, 100)
print(add_100(1, 2, 3))  # 106

add_101 = partial(add, 101)
print(add_101(1, 2, 3))  # 107

In [ ]:
j = {
    "trainer": {
        "epochs": 100,
        "saved": "saved/",
        "save_period": 1,
        "verbosity": 2,
        "monitor": "min val_loss",
        "tensorboard": True
    }
}
# "early_stop": 10,
a = j['trainer'].get('early_stop', 'off')

print(a)

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    ])

print(a.size())

b = a.squeeze(1)

print(a.squeeze(2))
print(a.squeeze(2).size())

In [ ]:
import torch

preds = torch.tensor([1., 1., 1., 0., 0.])
y = torch.tensor([1., 1., 1., 1., 1.])

rounded_preds = torch.round(torch.sigmoid(preds))
print(rounded_preds)

correct = (rounded_preds == y).float()
print(correct)

acc = correct.sum() / len(correct)
print(acc)

In [ ]:
import torch.nn.functional as F

# 最大似然（log似然代价函数）
def nll_loss(output, target):
    return F.nll_loss(output, target)

# 交叉熵
def crossentropy_loss(output, target):
    return F.cross_entropy(output, target)

# 二分类交叉熵
def binary_crossentropy_loss(output, target):
    return F.binary_cross_entropy_with_logits(output, target)


preds = torch.tensor([[1., 1., 1., 0., 0.][])
y = torch.tensor([[1., 1., 1., 1., 1.]])

print(nll_loss(preds,y))
print(crossentropy_loss(preds,y))
print(binary_crossentropy_loss(preds,y))

In [ ]:
import torch

c = torch.randn((2,5))
print(c)

d = torch.reshape(c,(5,2))
print(d)

print(d.shape[1])

e = torch.reshape(d, (-1,2,5))
print(e)

In [ ]:
import torch

# c = torch.randn((3,5))
c = torch.randn((3,5,8))
print(c)

hidden = torch.mean(c, dim=1)
print(hidden)

In [ ]:
if a:
    print(True)
else:
    print(False)

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    ])
print(a.size())

b = a.unsqueeze(-2)
print(b)
print(b.size())

In [ ]:
import torch
import torch.nn.functional as F

a = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    ]).float()
print(a)
print(a.size())

# b = torch.sum(a, dim=0)
b = F.softmax(a, dim=0)
print(b)

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    ]).float()

print(a)
print(a.size())
print(a.shape[0])

In [ ]:
import torch

torch.tensor([[1, 2, 3]]).size()

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5], [3, 4, 5], [3, 4, 5]],
    [[5, 6, 7], [5, 6, 7], [5, 6, 7]],
    ])

print(a)
print(a.size())

b = a.view(a.size(0), -1)
print(b)
print(b.size())

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5, 4], [3, 4, 5, 4], [3, 4, 5, 4]],
    [[5, 6, 7, 4], [5, 6, 7, 4], [5, 6, 7, 4]],
    ])

print(a)
print(a.size())

b = a.permute(1, 0, 2).contiguous()
print(b)
print(b.size())

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5, 4], [3, 4, 5, 4], [3, 4, 5, 4]],
    [[5, 6, 7, 4], [5, 6, 7, 4], [5, 6, 7, 4]],
    ]).float()

print(a)
print(a.size())

b=torch.mean(a, dim=0)
print(b)
print(b.size())

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5, 4], [3, 4, 5, 4], [3, 4, 5, 4]],
    [[5, 6, 7, 4], [5, 6, 7, 4], [5, 6, 7, 4]],
    ]).float()


b = torch.randn(4)

score = torch.matmul(a, b)

print(a)
print(a.shape)

print(b)
print(b.shape)

print(score)
print(score.shape)

In [ ]:
import torch

a = torch.randn(10 * 2)

a

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5, 4], [3, 4, 5, 4], [3, 4, 5, 4]],
    [[5, 6, 7, 4], [5, 6, 7, 4], [5, 6, 7, 4]],
    ]).float()


b = torch.tensor([
    [2, 2, 2],
    [2, 2, 2],
    ]).float()
b = b.unsqueeze(-1)

score = a * b

print(a)
print(a.shape)
print("------")
print(b)
print(b.shape)
print("------")
print(score)
print(score.shape)

In [ ]:
import torch

a = torch.tensor([
    [[3, 4, 5, 4], [3, 4, 5, 4], [3, 4, 5, 4]],
    [[5, 6, 7, 4], [5, 6, 7, 4], [5, 6, 7, 4]],
    ]).float()


b = torch.sum(a, dim=0)

print(a)
print(a.shape)
print("------")
print(b)
print(b.shape)

In [ ]:
# keys = "a;b;s"
keys = "a;b;s;"

keys = keys.split(';')

print(keys)

In [ ]:
import re
 
# s = "2004-959-559 # 这是一个国外电话号码"
# rule = re.compile(u'[^a-zA-Z0-9\u4e00-\u9fa5"#$%&\'()*+,-.:;<=>@\\^_`{|}]+')

s = "2004-959-559 #      这是一个国外电话号码  a "
rule = re.compile(u'[^b-zA-Z0-9\u4e00-\u9fa5"#$%&\'()*+,-.:;<=>@\\^_`{|}]+')

s = re.sub(rule, '', s)
s = re.sub('[#]+', '，', s)
s = re.sub('[-]+', '+', s)
print(s)

In [ ]:
if not '':
    print("1")

In [ ]:
lin = "hhhhh\taaaaa\t"
content = lin.split('\t')[0]

print(content)

In [ ]:
import torch

x = torch.randn(3, 4)
print(x)

sorted, indices = torch.sort(x)
print(sorted)
print(indices)

In [ ]:
import torch

x = torch.randn(3, 4)
y = x
print(x)
print(y)
print("----------")

sorted, indices = torch.sort(x, descending=True)
print(sorted)
print(indices)
print("----------")

sorted, indices = torch.sort(y, descending=False)
print(sorted)
print(indices)

In [ ]:
import torch

x = torch.randn(3, 4)
print(x)
print("----------")

sorted, indices = torch.sort(x, descending=True)
print(sorted)
print(indices)
print("----------")

sorted, indices = torch.sort(indices, descending=False)
print(sorted)
print(indices)

In [ ]:
import jieba

str1 = "我几天都不太开心，兴高采烈的日子已经不去复返，，，zzwzwzwzwzw，■♠▍♬嘿嘿 苦笑 呲牙 强颜欢笑 憨笑"

result = jieba.lcut(str1)

print(result)

In [ ]:
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn import metrics
from sklearn.metrics import auc 

# y_true = [1, 1, 1, 1, 1,    0, 0, 0, 0, 0]
# y_pred = [0, 0, 1, 1, 1,    1, 0, 0, 0, 0]

# TP，3
# FP，1
# TN，4
# FN，2

# Acc，(3+4)/10=0.7
# P，3/(3+1)=0.75
# R，3/(3+2)=0.6
# F1，(2×0.75×0.6)/(0.75+0.6)=0.667

# Sensitivity，3/(3+2)=0.6
# Specificity，4/(1+4)=0.8
# TPR，0.6
# FPR，0.2

# 准确率，
# Accuracy = (TP + TN) / (TP + TN + FP + FN)
# 精确率（差准率），
# Precision = TP / (TP + FP)
# 召回率（查全率），
# Recall = TP / (TP + FN)
# F1值，
# F1 = (2×P×R) /（P+R）

# 灵敏度（召回率），
# Sensitivity = TP / (TP + FN)
# 特异度（由于我们比较关心正样本，所以需要查看有多少负样本被错误地预测为正样本，所以使用（1-特异度），而不是特异度），
# Specificity = TN / (FP + TN)
# 真正率，
# TPR = Sensitivity = TP / (TP + FN)
# 假正率，
# FPR = 1-Specificity = FP / (FP + TN)

y_true = [1, 1, 1, 1, 1,    0, 0, 0, 0, 0]
y_pred = [0, 0, 1, 1, 1,    1, 0, 0, 0, 0]

print(accuracy_score(y_true, y_pred))
print(precision_score(y_true, y_pred))
print(recall_score(y_true, y_pred))
print(f1_score(y_true, y_pred))

fpr, tpr, thresholds = metrics.roc_curve(y_true, y_pred, pos_label=1)
print(metrics.auc(fpr, tpr))

In [ ]:
import pandas as pd

df = pd.read_csv("./all_corpus_100k.csv")
df = df.sample(frac=1)

df.to_csv("./all_corpus_100k_shuffle.csv", index=False)

In [ ]:
import synonyms
synonyms.seg("中文，877%……&，近义词工具包/\js")

In [ ]:
print(synonyms.nearby("温泉"))
print(synonyms.nearby("不错"))
print(synonyms.nearby("美丽"))
print(synonyms.nearby("舒适"))

print(synonyms.nearby("机器学习"))
print(synonyms.nearby("情感分析"))
print(synonyms.nearby("877"))
print(synonyms.nearby("最好"))

In [9]:
import synonyms
# text = "价钱贵，不要上当。"
text = "在天目湖半山腰，最顶上可以看到天目湖。希望其它客人要小心，货比三家，切防挨斩。周边吃饭不方便，选择少，服务最好的居然是电瓶车的行李员。"
text_seg = list(synonyms.seg(text))
for i in range(len(text_seg[0])):
    if len(synonyms.nearby(text_seg[0][i])[0]) != 0 and synonyms.nearby(text_seg[0][i])[1][1] >= 0.8:
        text_seg[0][i] = str(synonyms.nearby(text_seg[0][i])[0][1])
text_ok = "".join(text_seg[0])
print(text)
print(text_ok)

在天目湖半山腰，最顶上可以看到天目湖。希望其它客人要小心，货比三家，切防挨斩。周边吃饭不方便，选择少，服务最好的居然是电瓶车的行李员。
在天目湖半山腰，最顶上可以看见天目湖。期望其它客人要小心，货比三家，切防挨斩杀。周边吃饭不方便，选择少，服务最好的竟然是电瓶车的行李员。

In [8]:
import pandas as pd
import json
import math
from numpy import NaN
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

df = pd.read_csv('./ts_evaluate.csv')
df.head(10)

,evaluate_id,uid,type,row_id,level_data,content,ctime,is_anonymous,table,attach_id,is_show
0,1,145724,NaN,1711093029,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",非常好,1510308468,1,order,NaN,1
1,2,145724,NaN,1711093029,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",非常好,1510308565,1,order,NaN,1
2,3,145724,NaN,1711093028,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",非常好,1510366978,1,order,NaN,1
3,4,145724,NaN,1711093020,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",非常好,1510367565,1,order,NaN,1
4,5,70870,NaN,1710143133,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",好评,1510832488,1,order,NaN,1
5,6,21875,NaN,1709143024,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",挺不错的,1510974794,1,order,NaN,1
6,7,149925,NaN,1711104283,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",不错,1511161880,1,order,NaN,1
7,8,71746,NaN,1710313307,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",非常好,1511747525,1,order,NaN,1
8,9,152490,NaN,1711133142,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",好评,1511946968,1,order,NaN,1
9,10,147048,NaN,1711103437,"a:4:{s:5:""total"";s:1:""5"";s:7:""service"";s:1:""5""...",好开心一次泡温泉与美食同行，美食琳琅满目，回味无穷，期待商家多D发行优惠券，这样的话这个冬天...,1511958637,1,order,3929;3930,1

In [9]:
j = df.to_json(orient='index')
j = json.loads(j)

new_df = pd.DataFrame({'uid': {}, 'row_id': {}, 'level_data_total': {}})
str_num = 0

for idx, val in enumerate(j):
    uid = df.loc[idx, 'uid']
    row_id = df.loc[idx, 'row_id']

    level_data = str(j[str(idx)]['level_data'])
    split = level_data.split('"total";s:1:"')
    level_data_total = int(split[1][0])
    new_line = [str(uid), str(row_id), str(level_data_total)]
    new_df.loc[str_num] = new_line
    str_num += 1

new_df = new_df.drop_duplicates()
new_df.to_csv("./ts_evaluate_0.csv", index=False)
new_df.sample(10)

        uid      row_id level_data_total
521  466901  1910153132                5
200  271565  1810313231                5
480  452307  1909163203                5
287  208096  1902153131                5
365  155784  1906053087                5
86   193867  1802283228                5
5     21875  1709143024                5
84   215780  1807283111                5
633  469171  2001110595                5
645  481584  1911080412                5

In [10]:
import pandas as pd

df = pd.read_csv('./ts_evaluate_0.csv')

# print('评论数目（总体）：%d' % df.shape[0])
# print('评论数目（正向）：%d' % df[df.label==1].shape[0])
# print('评论数目（负向）：%d' % df[df.label==0].shape[0])

df.sample(10)

        uid      row_id  level_data_total
184  245618  1901083008                 5
264  376697  1903163019                 5
5    149925  1711104283                 5
172  280162  1901013228                 5
20   135616  1802163078                 5
587  374243  1912200604                 5
630  236574  2001250028                 5
223  346359  1902143178                 5
69   226127  1807033136                 4
255  361596  1902183382                 5

In [13]:
import pandas as pd
import json
import math
from numpy import NaN
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

df = pd.read_csv('./order-data-2.csv')
df.head(10)

,no,goods_no,quantity,use_time,user_no,ctime,name,ticket is -1
0,1709043015,551,1,2017/9/29,22496,2017/9/4 17:07:51,温泉大餐庙会套票,-1
1,1709043016,551,1,2017/9/13,22314,2017/9/4 17:16:19,温泉大餐庙会套票,-1
2,1709043017,465,1,2017/9/4,22375,2017/9/4 17:36:57,大餐庙会2人入格套票,4
3,1709043017,465,1,2017/9/5,22375,2017/9/4 17:36:57,大餐庙会2人入格套票,4
4,1709043017,471,1,2017/9/4,22375,2017/9/4 17:36:57,大餐庙会2人上房套票,5
5,1709043017,471,1,2017/9/5,22375,2017/9/4 17:36:57,大餐庙会2人上房套票,5
6,1709043017,472,1,2017/9/4,22375,2017/9/4 17:36:57,大餐庙会2人童趣房套票,16
7,1709043017,472,1,2017/9/5,22375,2017/9/4 17:36:57,大餐庙会2人童趣房套票,16
8,1709043018,555,1,2017/9/5,45207,2017/9/4 18:13:02,2人入格（含温泉2位+早餐2位）,4
9,1709043018,1020,2,2017/9/18,45207,2017/9/4 18:13:02,(住店专享)大餐庙会,-1

In [14]:
j = df.to_json(orient='index')
j = json.loads(j)

new_df = pd.DataFrame({'no': {}, 'goods_no': {}, 'user_no': {}})
str_num = 0

for idx, val in enumerate(j):
    no = df.loc[idx, 'no']
    goods_no = df.loc[idx, 'goods_no']
    user_no = df.loc[idx, 'user_no']
    new_line = [str(no), str(goods_no), str(user_no)]
    new_df.loc[str_num] = new_line
    str_num += 1

new_df = new_df.drop_duplicates()
new_df.to_csv("./order-data_0.csv", index=False)
new_df.sample(10)

            no goods_no user_no
0   1709043015      551   22496
8   1709043018      555   45207
6   1709043017      472   22375
20  1709053002      555   45167
14  1709043021      688   45212
4   1709043017      471   22375
11  1709043019     1020   45208
10  1709043019      555   45208
2   1709043017      465   22375
21  1709053003      471   45223

In [15]:
import pandas as pd

df = pd.read_csv('./order-data_0.csv')

# print('评论数目（总体）：%d' % df.shape[0])
# print('评论数目（正向）：%d' % df[df.label==1].shape[0])
# print('评论数目（负向）：%d' % df[df.label==0].shape[0])

df.sample(10)

            no  goods_no  user_no
4   1709043017       472    22375
10  1709043020      1020    45209
11  1709043021       688    45212
13  1709053002       555    45167
9   1709043020       555    45209
5   1709043018       555    45207
1   1709043016       551    22314
0   1709043015       551    22496
7   1709043019       555    45208
8   1709043019      1020    45208

In [39]:
import pandas as pd
import json
import math
from numpy import NaN
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

order_df = pd.read_csv('./order-data_0.csv')
order_df.head(10)

           no  goods_no  user_no
0  1709043015       551    22496
1  1709043016       551    22314
2  1709043017       465    22375
3  1709043017       471    22375
4  1709043017       472    22375
5  1709043018       555    45207
6  1709043018      1020    45207
7  1709043019       555    45208
8  1709043019      1020    45208
9  1709043020       555    45209

In [40]:
import pandas as pd
import json
import math
from numpy import NaN
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

evaluate_df = pd.read_csv('./ts_evaluate_0.csv')
evaluate_df.head(10)

      uid      row_id  level_data_total
0  145724  1711093029                 5
1  145724  1711093028                 5
2  145724  1711093020                 5
3   70870  1710143133                 5
4   21875  1709143024                 5
5  149925  1711104283                 5
6   71746  1710313307                 5
7  152490  1711133142                 5
8  147048  1711103437                 5
9   71963  1710213167                 5

In [41]:
order_j = order_df.to_json(orient='index')
order_j = json.loads(order_j)

evaluate_j = evaluate_df.to_json(orient='index')
evaluate_j = json.loads(evaluate_j)

new_df = pd.DataFrame({'no': {}, 'goods_no': {}, 'user_no': {}, 'level_data_total':{}})
str_num = 0

for order_idx, order_val in enumerate(order_j):
    for evaluate_idx, evaluate_val in enumerate(evaluate_j):
        no = order_df.loc[order_idx, 'no']
        goods_no = order_df.loc[order_idx, 'goods_no']
        user_no = order_df.loc[order_idx, 'user_no']

        if evaluate_df.loc[evaluate_idx, 'row_id'] == order_df.loc[order_idx, 'no']:
            level_data_total = evaluate_df.loc[evaluate_idx, 'level_data_total']
        else:
            level_data_total = ""
        new_line = [str(no), str(goods_no), str(user_no), str(level_data_total)]
        new_df.loc[str_num] = new_line
        str_num += 1

new_df = new_df.drop_duplicates()
new_df.to_csv("./new_df.csv", index=False)
new_df.sample(10)

                no goods_no user_no level_data_total
3195    1709043018      555   45207
6390    1709043020     1020   45209
2556    1709043017      472   22375
8325  180108300666      555   45167                4
3834    1709043018     1020   45207
5112    1709043019     1020   45208
639     1709043016      551   22314
1278    1709043017      465   22375
1917    1709043017      471   22375
4473    1709043019      555   45208